<h4 class="mb-3">Billing address</h4>

<form class="needs-validation" novalidate="" [formGroup]="checkoutForm">
  <app-billing-address-input [submitted]="submitted" [checkoutForm]="checkoutForm">
  </app-billing-address-input>

  <hr class="mb-4">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="same-address">
    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
      address</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="save-info">
    <label class="custom-control-label" for="save-info">Save this information for next time</label>
  </div>
  <!-- End checkbox -->
  <hr class="mb-4">
  <app-payment-input [submitted]="submitted" [checkoutForm]="checkoutForm"></app-payment-input>
  <hr class="mb-4">
  <button class="btn btn-primary btn-lg btn-block" (click)="onSubmit()" type="submit">Continue to
    checkout</button>
</form>
